<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gerenciador.Properties.Settings.DataBaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Gerenciador.Properties.Settings.DatabaseBDConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DatabaseBD.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AtendeClienteServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AtendeClienteServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
                binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
                contract="CorreiosService.AtendeCliente" name="AtendeClientePort" />
        </client>
    </system.serviceModel>
</configuration>